@model WebApplication2.ViewModels.VoucherVM
@{
    ViewBag.Title = "PrintRep";
    Layout = "~/Views/Shared/full_page.cshtml";
    
}
<script>

function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}

</script>
<div class="row" style="background-color:white">
    <br />
    <br />
    <a href="#" onclick="printDiv('printableArea')" class="btn btn-wide btn-info pull-right" style="margin-top:-40px"><i class="fa fa-print"></i>  Print</a>
    <div class="col-sm-12" style="background-color:white;padding:50px" id="printableArea">
        <table class="table table-bordered" id="printableArea">
            <thead>
                <tr>
                    <td colspan="11" align="center" style="font-size:20px;font-weight:bold;background-color:steelblue;color:white">Attendance Report</td>
                </tr>
                <tr style="background-color:cadetblue;color:white;font-weight:bold;font-size:14px;">
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Check In Details</th>
                    <th>Check Out Details</th>
                    <th>Status</th>
                    
                </tr>
            </thead>

            <tbody class="abc">
                @foreach (var item in Model.atte_list)
                {
                    <tr>
                        <td>@item.EmpId</td>
                        <td>@item.EmpId</td>
                        <td>@item.checkin_datetime</td>
                        <td>@item.checkout_datetime</td>
                        <td>@item.Status</td>

                    </tr>
                }
               
            </tbody>

        </table>
        <br />
        <br /> <br />
        <br /> <br />
        <br /> <br />
        <br /> <br />
        <br /> <br />
        <br /> <br />
        <br /> <br />
        <br />
    </div>
</div>
