@model WebApplication2.ViewModels.VoucherVM
@{
    ViewBag.Title = "Creat";
}

<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-cubes" aria-hidden="true"></i> Attendance</a></li>
            </ul>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-12">
            <h4 class="section-subtitle"><b>Employees Attendance</b></h4>
            <a href="@Url.Action("Report","Attendance")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-list"></i> Attendance Report</a>
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">

                            <form action="Create" method="post" enctype="multipart/form-data" onsubmit="return confirm('Are you sure you want to Submit ?');">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="radio-inline">
                                            <input type="radio" name="status" id="inlineRadio1" value="1"> Check In
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="status" id="inlineRadio2" value="2"> Check Out
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="status" id="inlineRadio3" value="3"> Both
                                        </label>
                                    </div>
                                </div><br/>
                                <div class="row">
                                    <div class="col-md-12">

                                        @*<div class="form-group col-sm-3">
                    <label>Select Employee</label>
                    @Html.DropDownListFor(m => m.attendance.EmpId, new SelectList(Model.emp_list, "Id", "Name"), "Select Employee", htmlAttributes: new { @class = "chosen-select form-control" })
                </div>
                <div class="form-group col-sm-3">
                    <label>Check In Date  </label>
                    @Html.TextBoxFor(m => m.attendance.checkin_datetime, new { @class = "form-control input-xs", @type = "datetime-local" })
                </div>
                <div class="form-group col-sm-3">
                    <label>Check Out Date & Time </label>
                    @Html.TextBoxFor(m => m.attendance.checkout_datetime, new { @class = "form-control input-xs", @type = "datetime-local" })
                </div>

                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" style="margin-top:10px"><i class="fa fa-plus"></i> Save</button>
                </div>*@
                                        <div class="table-responsive">

                                            <table class="table table-bordered table-hover table-striped table-success" id="searchable">
                                                <thead class="bordered-darkorange">
                                                    <tr>
                                                        <th>Action</th>
                                                        <th>Select Employee</th>
                                                        <th>Check In details</th>
                                                        <th>Check Out details</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="abc">
                                                    @foreach (var item in Model.emp_list)
                                                    {
                                                        <tr>
                                                            <td><input type="checkbox" name="emp_id" class="form-control" value="@item.ID" /></td>
                                                            <td>@item.Name</td>
                                                            <td><input type="datetime-local" class="form-control" name="check_in" /></td>
                                                            <td><input type="datetime-local" class="form-control" name="check_out" /></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                                
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary col-md-3" style="margin-top:10px"><i class="fa fa-plus"></i> Save</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


