@model WebApplication1.ViewModels.PurInvoiceVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-cubes" aria-hidden="true"></i> Vouchers</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h4 class="section-subtitle"><b>Bank Payment Voucher</b></h4>



        @using (Html.BeginForm("Index", "BankPayment", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group col-sm-3">
                <label>Start Date</label>
                <input type="date" name="s_date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" required />
            </div>
            <div class="form-group col-sm-3">
                <label>End Date </label>
                <input type="date" name="e_date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" required />
            </div>
            <div class="col-sm-3">
                <button type="submit" name="submit" class="btn btn-success" style="margin-top:25px"> &nbsp;&nbsp; Search &nbsp;&nbsp;</button>
            </div>
        }

        <a href="@Url.Action("Create", "BankPayment")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-plus"></i>  Creat New Voucher</a>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-success" id="searchable">
                            <thead class="bordered-darkorange">
                                <tr>
                                    <th>TID</th>
                                    <th>V-Type</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Remarks</th>
                                    <th>Images</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="abc">
                                @foreach (var item in Model.vou_list)
                                {
                                    <tr>
                                        <td>@item.TID</td>
                                        <td>@item.VType</td>
                                        <td>@Convert.ToDateTime(item.Date).ToString("dd-MM-yyyy")</td>
                                        <td>@item.TDr</td>
                                        <td>@item.Remarks</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.invid">
                                                Images
                                            </button>
                                        </td>
                                        <td>
                                            @*<a href="@Url.Action("Delete", new { ID= item.TID,Vtype=item.VType } )" new { onclick="return confirm('Are you sure you want to delete this record?');" class="badge badge-xs x-danger b-rounded"><i class="fa fa-trash-o"></i></a>*@
                                            <a href="@Url.Action("Edit", new { ID= item.TID } )" class="badge badge-xs x-primary b-rounded"><i class="fa fa-pencil"></i></a>
                                            <a href="@Url.Action("BankPaymentReport", new { ID= item.TID } )" target="_blank" class="badge badge-xs x-warning b-rounded"><i class="fa fa-print"></i></a>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="@item.invid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:-200px">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Images</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" style="height:300px">
                                                    <div class="col-md-12">
                                                        @foreach (var item1 in Model.img_list.Where(z => z.Tid == item.invid))
                                                        {
                                                            <div class="col-md-4">
                                                                <img src="~/Uploads/@item1.Images" width="120px" />
                                                            </div>
                                                        }
                                                    </div>
                                                    <br />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="width:100px"><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm" style="width:100px"></th>
                                    <th style="width:150px"><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm" style="width:150px"></th>
                                    <th style="width:150px"><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm" style="width:150px"></th>
                                    <th style="width:150px"><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm" style="width:150px"></th>
                                    <th style="width:150px"><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm" style="width:150px"></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
