@model WebApplication1.ViewModels.ProductVM
@{
    ViewBag.Title = "Creat";


}

<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-cubes" aria-hidden="true"></i> Registration</a></li>
            </ul>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-12">
            <h4 class="section-subtitle"><b>Register Product Pricing Region</b></h4>
            <a href="@Url.Action("IndexRegion","ProductPricing")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-list"></i>  List</a>
            @if (Convert.ToString(TempData["succ"]) != "")
            {
                <p class="alert alert-success" style="width:400px;height:50px"><b>@TempData["succ"]</b></p>
            }

            <form action="SaveRegion" method="post" enctype="multipart/form-data" onsubmit="return confirm('Are you sure you want to Register ?');">

                <div class="panel">
                    <div class="panel-content">


                        <div class=" form-group col-3" >
                            <label>Select Region</label>
                            @*<select id="regionDropdown" class="form-control">
                                    <option value="0">Select Region</option>
                                    @foreach (var lst in Model.Region_list)
                                    {
                                        <option value="@lst.id">@lst.name</option>
                                    }
                                </select>*@
                            @Html.DropDownListFor(m => m.ProductPricingRegion.RegionID, new SelectList(Model.Region_list, "Id", "NAME"), "Select Region", htmlAttributes: new { @id = "regionDropdown", @class = " form-control", @required = "required" })
                        </div>
                        <br>
                        <div class="table-responsive" style="float:none">
                            <table class="table table-bordered table-hover table-striped table-success" id="searchable">
                                <thead class="bordered-darkorange">
                                   
                                    <tr>

                                        <th >Category Name</th>

                                        <th style="background-color:lightcyan">Dubi</th>
                                        <th style="background-color:lightcyan">Quarter</th>
                                        <th style="background-color:lightcyan">Gallon</th>
                                        <th style="background-color:lightcyan">Drum</th>


                                    </tr>
                                </thead>
                                <tbody class="abc">

                                    @foreach (var item in Model.Categories_list)
                                    {
                                        <tr>
                                            <td ><input type="text"  value="@item.CategoryName"  readonly > </td>
                                            <td hidden><input type="number" name="id[]" value="@item.CategoryID"></td>


                                          

                                            <td style="background-color: lightcyan"><input type="number" name="dubi[]" value="0" step="0.001"></td>
                                            <td style="background-color: lightcyan"><input type="number" name="Quarter[]" value="0" step="0.001"></td>
                                            <td style="background-color: lightcyan"><input type="number" name="gallon[]" value="0" step="0.001"></td>
                                            <td style="background-color: lightcyan"><input type="number" name="drum[]" value="0" step="0.001"></td>




                                        </tr>
                                    }
                                </tbody>
                                @*<tfoot>
                                    <tr>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                        <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                       
                                    </tr>
                                </tfoot>*@
                            </table>

                            <div class="col-sm-12">
                                @if (Session["SubProductPricingRegionA"].ToString() != "0")
                                {
                                    <button type="submit" class="btn btn-primary" style="margin-top:10px"><i class="fa fa-save"></i> Save</button>
                                }
                                </div>
                        </div>



                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@*<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>*@

<script>

    $(document).ready(function () {
        $(document).on('change', '#regionDropdown', function () {
            var regionId = $(this).val();
            $.ajax({
                url: '/ProductPricing/UpdateTable', // Replace with your actual controller and action
                type: 'GET',
                data: { regionId: regionId },
                success: function (data) {
                    if (data.length > 0) {
                        $.each(data, function (index, rowData) {
                            var matchingRow = $('.abc tr:has(input[value="' + rowData.CategoryID + '"])');

                            // Update values if a matching row is found
                            if (matchingRow.length > 0) {
                               

                                matchingRow.find('input[name="dubi[]"]').val(rowData.sp);
                                matchingRow.find('input[name="Quarter[]"]').val(rowData.splower);
                                matchingRow.find('input[name="gallon[]"]').val(rowData.gallon);
                                matchingRow.find('input[name="drum[]"]').val(rowData.drum);
                            }
                        });
                    }
                    else {
                        $('.abc input[type="number"]').not('[name^="id"]').val('0');
                    }
                },
                error: function () {
                    console.error('Failed to fetch data.');
                }
            });
        });
    });
</script>
