@model IEnumerable<WebApplication1.QueryViewModel.CustomerDiscount>
@{
    ViewBag.Title = "Index";
}
<script>
    $('#searchable').DataTable({
        buttons: [
            'copy', 'excel', 'pdf'
        ]
    });
</script>
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-cubes" aria-hidden="true"></i> Customer Item Discount</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="section-subtitle"><b> Customer Item Discount</b></h4>
            <a href="@Url.Action("Create", "CustomerDiscount")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-plus"></i>  Creat New</a>
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-success" id="searchable">
                            <thead class="bordered-darkorange">
                                <tr>
                                    <th>CustomerName</th>
                                    <th>Category</th>
                                    <th>Disc</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="abc">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.customername</td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.disc</td>
                                        <td>
                                            <a href="@Url.Action("Delete", new { ID= item.id } )" new { onclick="return confirm('Are you sure you want to Delete this record?');" class="label label-danger shiny input-xs"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
