@model IEnumerable<WebApplication1.QueryViewModel.FinishedGoodsQuery>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var position = 0;
    decimal bal = 0;
    decimal sum_cr = 0;
    decimal sum_dr = 0;
    var total = 0;
    int op = 0;
    var s_date = ViewBag.StartDate;
    string PINV = "PINV";
    string SINV = "SINV";
}
<script type="text/javascript">
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }</script>
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-cubes" aria-hidden="true"></i>Filling Complete Report</a></li>
            </ul>
        </div>
    </div>
    @*<button type="button" onclick="printDiv('printableArea')" class="btn btn-info pull-right"><i class="fa fa-print"></i> Print</button>*@
    <div class="row" id="printableArea">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <center>
                            <br /><b>From:</b> @Convert.ToDateTime(ViewBag.StartDate).ToString("dd-MM-yyyy") <b>To :</b> @Convert.ToDateTime(ViewBag.EndDate).ToString("dd-MM-yyyy")</br/></br/></br/>
                        </center>
                        <table class="table table-bordered table-hover table-striped table-success" id="searchable">
                            <thead class="bordered-darkorange">
                                <tr>
                                    <th>Product Name</th>
                                    <th>Total Received</th>
                                    <th>Total Filled</th>
                                    <th>Balance</th>

                                </tr>
                            </thead>
                            <tbody>
                                <span style="color:white"></span>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ProductName</td>
                                        <td>@String.Format("{0:N}", item.received)</td>
                                        <td>@String.Format("{0:N}", item.Filled)</td>
                                        <td>@String.Format("{0:N}", (item.received) - (item.Filled))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
