@model WebApplication1.ViewModels.SaleInvVM
@{
    ViewData["Title"] = "Create";
    var sr = 0;
    var tot1 = 0;
    var tot = 0;
}
<script>
    function date() {
        var d = new Date();

        function twoDigitDate(d) {
            return ((d.getDate()).toString().length == 1) ? "0" + (d.getDate()).toString() : (d.getDate()).toString();
        };

        function twoDigitMonth(d) {
            return ((d.getMonth() + 1).toString().length == 1) ? "0" + (d.getMonth() + 1).toString() : (d.getMonth() + 1).toString();
        };

        var today_ISO_date = d.getFullYear() + "-" + twoDigitMonth(d) + "-" + twoDigitDate(d); // in yyyy-mm-dd format
        document.getElementById('date').setAttribute("value", today_ISO_date);

    }


    $(document).ready(function () {
        // code to read selected table row cell data (values).
        $("#searchable").on("click", ".btnSelect", function () {
            var currentRow = $(this).closest("tr");
            var col0 = currentRow.find("td:eq(0)").html();
            var col1 = currentRow.find("td:eq(1)").html();
            //var col2 = currentRow.find("td:eq(2)").html();
            //var col3 = currentRow.find("td:eq(3)").html();
            //var col4 = currentRow.find("td:eq(4)").html();
            //var col6 = currentRow.find("td:eq(5)").html();
            //  document.getElementById("unit").value = col6;
           
            // document.getElementById("sp").value = col2;
            var supid = document.getElementById("supp").value;
            var regionid = document.getElementById("regionid").value;
            //alert(supid);
            if (supid == "" || supid == 0) {
                alert("Please Select Customer !");
            }
           
           else if (regionid == "" || regionid == 0) {
                alert("Please Select Region !");
            }
            else {
                document.getElementById("id").value = col0;
                document.getElementById("item_name").value = col1;
            // document.getElementById("sp").value = "0";
            $.ajax({
                /**/
                url: '@Url.Action("Action2", "SaleInvoiceNew")',
                /**/
                type: "POST",
                data: { "code": col0, "code1": supid },

                "success": function (data) {
                    if (data != null) {
                        var vdata = data;
                        $("#disc_val").val(vdata[0].disc);
                    }
                }
            });
        }
            // alert(data);
            //var htmlRows = '';
            //htmlRows += '<tr>';
            //htmlRows += '<td style="width:60px !important"><button class="btn btn-danger" onclick="deleteRow(this)"><i class="fa fa-trash-o"></i></button></td>';
            //htmlRows += '<td><input type="text"   name="name1[]" value="' + col1 + '" required class="form-control" autocomplete="off"></td>';
            //htmlRows += '<td><input type="text"   name="name[]" value="' + col2 + '" required class="form-control" autocomplete="off"></td>';
            //htmlRows += '<td><input type="text"   name="name2[]" value="' + col3 + '" required class="form-control" autocomplete="off"></td>';
            //$('#invoiceItem').append(htmlRows);
        });
    });
    function add() {
        //  alert("das");
        var id = document.getElementById("id").value;
        var item_name = document.getElementById("item_name").value;
        var sp = document.getElementById("sp").value;
        var stock = document.getElementById("stock").value;
        var qty = document.getElementById("ctn").value;
        var n_total = document.getElementById("n_total").value;
        var disc_val = document.getElementById("disc_val").value;
        var total_after = document.getElementById("total_after").value;
        var disc_amount = document.getElementById("disc_amount").value;
        var selObj = document.getElementById("packing");
        var packing = selObj.options[selObj.selectedIndex].text;
        if (id == "" || id == 0) {
            //  alert("Please Select Item");
        }
        else if (parseInt(qty) > parseInt(stock)) {
            alert("Stock is Not Available");
        }
        else if (qty == "" || qty == 0) {

            // alert("Please Enter Quantity");
        }
        else {
            var htmlRows = '';
            htmlRows += '<tr>';
            htmlRows += '<td style="width:80px !important"><a class="badge badge-xs x-danger b-rounded" onclick="return deleteRow(this)" ><i class="fa fa-trash-o"></i></a></td>';
            htmlRows += '<td><input type="text"  name="id"  value="' + id + '" required class="form-control" readonly autocomplete="off"></td>';
            htmlRows += '<td><input type="text"  name="item_name[]"  value="' + item_name + '" readonly class="form-control" autocomplete="off"></td>';
            htmlRows += '<td><input type="text"  name="packing[]"  value="' + packing + '" readonly class="form-control" autocomplete="off"></td>';
            htmlRows += '<td><input type="text"  name="sp[]"  value="' + sp + ' "   readonly class="form-control" autocomplete="off"></td>';
            htmlRows += '<td><input type="text"  name="qty[]"  value="' + qty + '"  readonly class="form-control" autocomplete="off"></td>';
            htmlRows += '<td><input type="text"  name="n_total[]"  value="' + n_total + '"   readonly class="form-control" autocomplete="off"></td>';
            htmlRows += '<td><input type="text"  name="disc_val[]"  value="' + disc_val + '"   readonly class="form-control" autocomplete="off"></td>';
            htmlRows += '<td><input type="text"  name="disc_amount[]"  value="' + disc_amount + '"   readonly class="form-control" autocomplete="off"></td>';
            htmlRows += '<td><input type="text"  name="total_after[]"  value="' + total_after + '"   readonly class="form-control" autocomplete="off"></td>';
            htmlRows += '<td style="display:none">' + id + '</td>';
            htmlRows += '<td style="display:none">' + item_name + '</td>';
            htmlRows += '<td style="display:none">' + packing + '</td>';
            htmlRows += '<td style="display:none">' + sp + '</td>';
            htmlRows += '<td style="display:none">' + qty + '</td>';
            htmlRows += '<td style="display:none">' + n_total + '</td>';
            htmlRows += '<td style="display:none">' + disc_val + '</td>';
            htmlRows += '<td style="display:none">' + total_after + '</td>';
            htmlRows += '<td style="display:none">' + disc_amount + '</td>';

            $('#invoiceItem').append(htmlRows);
            $('#id').val('');
            $('#item_name').val('');
            $('#sp').val('0');
            $('#stock').val('0');
            $('#packing').val('-Select Packing-');
            $('#ctn').val('0');
            $('#n_total').val('0');
            $('#disc_val').val('0');
          
            $('#total_after').val('0');
            var table = document.getElementById("invoiceItem"); var sumVal = 0.000, sumVal1 = 0.000,sumVal2 = 0.000,sumVal3 = 0.000;
            for (var i = 1; i < table.rows.length; i++) {
                sumVal = sumVal + parseFloat(table.rows[i].cells[15].innerHTML);
            }
            document.getElementById("total_final").value = parseFloat(sumVal).toFixed(3);
            //for (var i = 1; i < table.rows.length; i++) {
            //    sumVal1 = sumVal1 + parseInt(table.rows[i].cells[15].innerHTML);
            //}
            //document.getElementById("disc_final").value = parseFloat(sumVal1).toFixed(3);
            for (var i = 1; i < table.rows.length; i++) {
                sumVal2 = sumVal2 + parseFloat(table.rows[i].cells[17].innerHTML);
            }
            document.getElementById("net").value = parseFloat(sumVal2).toFixed(3);
            for (var i = 1; i < table.rows.length; i++) {
                sumVal3 = sumVal3 + parseFloat(table.rows[i].cells[18].innerHTML);
            }
            document.getElementById("disc_final").value = parseFloat(sumVal3).toFixed(3);

        }
    }
    function deleteRow(btn) {
        if (confirm("Are you sure want to delete the row?"))
            $(btn).closest("tr").remove();

    //    var table = document.getElementById("invoiceItem"), sumVal = 0, sumVal1 = 0, sumVal2 = 0;
    //    for (var i = 1; i < table.rows.length; i++) {
    //        sumVal = sumVal + parseInt(table.rows[i].cells[15].innerHTML);
    //    }
    //    document.getElementById("total_final").value = parseFloat(sumVal);
    //    for (var i = 1; i < table.rows.length; i++) {
    //        sumVal1 = sumVal1 + parseInt(table.rows[i].cells[17].innerHTML);
    //    }
    //    document.getElementById("disc_final").value = parseFloat(sumVal1);
    //    for (var i = 1; i < table.rows.length; i++) {
    //        sumVal2 = sumVal2 + parseInt(table.rows[i].cells[18].innerHTML);
    //    }
    //    document.getElementById("net_final").value = parseFloat(sumVal-sumVal1);

        var table = document.getElementById("invoiceItem");
        var sumVal = 0.000, sumVal1 = 0.000, sumVal2 = 0.000, sumVal3 = 0.000;
        for (var i = 1; i < table.rows.length; i++) {
            sumVal = sumVal + parseFloat(table.rows[i].cells[15].innerHTML);
        }
        document.getElementById("total_final").value = parseFloat(sumVal).toFixed(3);

        for (var i = 1; i < table.rows.length; i++) {
            sumVal2 = sumVal2 + parseFloat(table.rows[i].cells[17].innerHTML);
        }
        document.getElementById("net").value = parseFloat(sumVal2).toFixed(3);

        for (var i = 1; i < table.rows.length; i++) {
            sumVal3 = sumVal3 + parseFloat(table.rows[i].cells[18].innerHTML);
        }
        document.getElementById("disc_final").value = parseFloat(sumVal3).toFixed(3);

    }
    function tota() {
        //  alert("text");
        var p_box = document.getElementById("length").value;
        var ctn = document.getElementById("ctn").value;
        var n_total = document.getElementById("n_total").value;
        qty_f = ctn;

        var sp = document.getElementById("sp").value;
        var totl;
        totl = qty_f * sp;
        if (n_total == '' || n_total == null) {
            document.getElementById("n_total").value = "0";
        }
        document.getElementById("n_total").value = totl;
        if (n_total == '' || n_total == null) {
            document.getElementById("n_total").value = "0";
        }
        tota1();
    }
    function tota1() {
        //  alert("text");
        var n_total = document.getElementById("n_total").value;
        var disc_val = document.getElementById("disc_val").value;
        var totl;
        totl = (n_total * disc_val) / 100;
        var tot = n_total - totl ;
        document.getElementById("total_after").value = tot;
        document.getElementById("disc_amount").value = totl;
    }
    function gt() {
        var cgo_charges = document.getElementById("cgo_charges").value;
        var total = document.getElementById("total").value;
        var nt = document.getElementById("net_final").value;
        var t_f = parseInt(cgo_charges) + parseInt(nt);
        document.getElementById("total").value = t_f;
        var da = document.getElementById("d_amount").value;
        document.getElementById("d_amount").value = "0";
        document.getElementById("g_total").value = t_f;
        document.getElementById("r_total").value = t_f;
    }
    function gt1() {
        var da = document.getElementById("d_amount").value;
        var total = document.getElementById("total").value;
        var totl = total - da;
        document.getElementById("g_total").value = totl;
        document.getElementById("r_total").value = totl;
    }

    function qty123() {
        //alert("dsa");
        var grandTotal = 0;

        $("input[name='sp[]']").each(function (index) {
            var price = $("input[name='sp[]']").eq(index).val();
            var qty_ne = $("input[name='qty[]']").eq(index).val();
            var output = parseFloat(price) * parseFloat(qty_ne);
            if (!isNaN(output)) {
                $("input[name='n_total[]']").eq(index).val(output.toFixed(2));
                grandTotal = parseFloat(grandTotal) + parseFloat(output);
                document.getElementById("net_final").value = grandTotal.toFixed(2);
                document.getElementById("total").value = grandTotal.toFixed(2);
                document.getElementById("g_total").value = grandTotal.toFixed(2);
            }

        });
    }
</script>

<script type="text/javascript">
    function Action(code) {

        $.ajax({
            /**/
            url: '@Url.Action("Action", "SaleWctn")',
    /**/
    type: "POST",
    data: { "code": code },

    "success": function (data) {
        if (data != null) {
            var vdata = data;
          //  alert(vdata);
            $("#Address").val(vdata[0].Address);
            $("#Phone").val(vdata[0].Phone);

        }
    }
});
    }
    function check_total() {
        var da = document.getElementById("net_final").value;
        if (da == 0) {
            alert("Please Enter Items");
            return false;
        }
    }
    @*function Action1(code) {
        var item = document.getElementById("id").value;
        $.ajax({
            /**/
            url: '@Url.Action("Action", "SaleInvoiceNew")',
            /**/
            type: "POST",
            data: { "code": code, "code1": item },
            "success": function (data) {
                if (data != null) {
                    var vdata = data;
                    //  alert(vdata);
                    $("#sp").val(vdata[0].sp);
                }
            }
        });
    }*@
     function Action1(code) {
        var item = document.getElementById("id").value;
        var regionid = document.getElementById("regionid").value;
        $.ajax({
            /**/
            url: '@Url.Action("ActionRate1", "SaleInvoiceNew")',
            /**/
            type: "POST",
            data: { "code": code, "code1": item, "regionid": regionid },
            "success": function (data) {
                if (data != null) {
                    var stock = data.stock;
                    var vdata = data.getgrosspackage;
                    //  alert(vdata);
                    $("#sp").val(vdata[0].sp);
                    $("#stock").val(stock);
                }
            }
        });
         
    }
</script>
<style>
    hr {
        height: 1px;
        background: black;
        border: none;
        outline: none;
        margin: 3em 3em 5em;
        position: relative;
    }


        hr#eight {
            background: transparent;
            border-bottom: 2px dashed #189279;
            width: 100%;
            margin: 0 auto;
            &:before

    {
        top: 3px;
        left: 0;
        padding-right: 2em;
    }
    }
</style>
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-print" aria-hidden="true"></i> Standar Sale</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="section-subtitle"><b>Sale Invoice </b></h4>

            <a href="@Url.Action("Index", "SaleInvoiceNew")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-plus"></i>   List</a>
            <div class="panel">
                <form asp-action="Create" id="invoice-form" method="post" enctype="multipart/form-data" onsubmit="return confirm('Are you sure you want to Continue ?');">
                    <div class="panel-content">
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label>INVID</label>
                                @Html.TextBoxFor(m => m.orderMasterQuery.OrderID, new { @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Date</label>
                                @Html.TextBoxFor(m => m.orderMasterQuery.date, new { @class = "form-control input-xs", id = "date", type = "Date", @Value = DateTime.Now.ToString("yyyy-MM-dd"), @readonly = "readonly" })
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Select Customer</label>
                                @Html.DropDownListFor(m => m.orderMasterQuery.custid, new SelectList(Model.Cus_list, "customerid", "Name"), "Select Customer", htmlAttributes: new { @class = "chosen-select form-control", required = "required", id = "supp" })
                                @*@Html.DropDownListFor(m => m.orderMasterQuery.custid, new SelectList(Model.Cus_list, "customerid", "Name"), "Select Customer", htmlAttributes: new { @class = "chosen-select form-control", onChange = "Action(this.value)", required = "required", id = "supp" })*@
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Select Region</label>
                                @Html.DropDownListFor(m => m.orderMasterQuery.RegionId, new SelectList(Model.Region_list, "Id", "Name"), "Select Region", htmlAttributes: new { @class = "chosen-select form-control", required = "required", id = "regionid" })
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Cargo</label>
                                @Html.DropDownListFor(m => m.orderMasterQuery.cargoid, new SelectList(Model.Cargo_list, "id", "Name"), "Select Cargo", htmlAttributes: new { @class = "chosen-select form-control", onChange = "Action(this.value)", required = "required", id = "supp" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-5">
                                <label>Invoice Note</label>
                                @Html.TextAreaFor(m => m.orderMasterQuery.note, new { @class = "form-control input-xs", style = " rows=2, columns=40", id = "Address" })
                            </div>
                            <div class="form-group col-sm-2">
                                <a class="btn btn-wide btn-info pull-right" data-toggle="modal" data-target="#lg-modal" style="margin-top:25px;margin-left:-40px"><i class="fa fa-search-plus"></i>  Search Items</a>
                            </div>
                        </div>
                        <hr id="eight" data-symbol="✂" style="margin-top:5px"><br />
                        <div clas="row" style="margin-top:10px;">
                            <div clas="col-md-12">
                                <div class="form-group col-sm-1" style="display:none">
                                    <label>ID</label>
                                    <input type="text" id="id" readonly class="form-control" />
                                </div>
                                <div class="form-group col-sm-3" style="margin-left:-20px">
                                    <label>Item Name</label>
                                    <input type="text" id="item_name" readonly class="form-control" />
                                </div>
                                <div class="form-group col-sm-1" style="margin-left: -20px; width: 130px">
                                    <label>Packing</label> 
                                    <select id="packing" class="form-control" onChange="Action1(this.value)"> 
                                        <option>-Select Packing-</option>
                                        <option value="Dubbi">Dubbi</option>
                                        <option value="Quarter">Quarter</option>
                                        <option value="Drum">Drum</option>
                                        <option value="Gallon">Gallon</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-1" style="margin-left: -20px; width: 130px">
                                    <label>Stock</label>
                                    <input type="text" id="stock"  readonly class="form-control" />
                                </div>
                                <div class="form-group col-sm-1" style="margin-left: -20px; width: 130px">
                                    <label>Sale Price</label>
                                    <input type="text" id="sp" onKeyUp="tota(); " readonly class="form-control" />
                                </div>
                                <div class="form-group col-sm-1" style="margin-left:-20px;width:130px">
                                    <label>Qty</label>
                                    <input type="text" id="ctn" value="0" onKeyUp="tota(); " class="form-control" />
                                    <input type="hidden" id="new_id" value="0" class="form-control" />
                                    <input type="hidden" id="length" value="0" class="form-control" />
                                </div>
                                <div class="form-group col-sm-3" style="margin-left: -20px; width: 130px">
                                    <label>Net Total</label>
                                    <input type="text" id="n_total" value="0" readonly class="form-control" />
                                </div>
                                <div class="form-group col-sm-2" style="margin-left: -20px; width: 130px">
                                    <label>Disc%</label>
                                    <input type="text" id="disc_val" onKeyUp="tota1(); " readonly value="0" class="form-control" />
                                    <input type="hidden" id="disc_amount"  value="0" class="form-control" />
                                </div>
                                <div class="form-group col-sm-2" style="margin-left: -20px; width: 130px">
                                    <label>Total After Disc</label>
                                    <input type="text" id="total_after" value="0" readonly class="form-control" />
                                </div>
                                <div class="form-group col-sm-2" style="margin-top:10px">
                                    <br />
                                    <br />
                                    <a class="btn btn-wide btn-warning pull-left" onclick='return add()' style="margin-right:-130px;width:25px;margin-top:-32px"> <i class="fa fa-plus"></i> Add</a> &nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="margin-top:-15px">
                                <div class="table-responsive">
                                    <table id="invoiceItem" class="table table-bordered table-hover table-striped table-success">
                                        <thead class="bordered-darkorange">
                                            <tr style="background-color: #3498DB; color: white;border:1px solid white">
                                                <th>Action</th>
                                                <th>ID</th>
                                                <th>Product Name</th>
                                                <th>Packing</th>
                                                <th>Cost Price</th>
                                                <th>Qty</th>
                                                <th>Net Total</th>
                                                <th>Disc%</th>
                                                <th>Disc Amount</th>
                                                <th>Total After Disc</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group col-sm-3">
                                    <label>Gross Total</label>
                                    @Html.TextBoxFor(m => m.orderMasterQuery.total, new { @class = "form-control input-xs", type = "number", value = "0", id = "total_final", @readonly = "readonly" })
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Discount Amount</label>
                                    @Html.TextBoxFor(m => m.orderMasterQuery.discount, new { @class = "form-control input-xs", type = "number", value = "0", id = "disc_final", @readonly = "readonly" })
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Net Total</label>
                                    @Html.TextBoxFor(m => m.orderMasterQuery.ntotal, new { @class = "form-control input-xs", type = "number", value = "0", id = "net", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                @if (Session["SubSaleInvoiceA"].ToString() != "0")
                                {
                                    <button type="submit" onclick="return check_total()" class="btn btn-primary col-sm-4 col-sm-offset-4" style="margin-top: 10px; background-color: #3498DB !important; border: 1px solid #3498DB "><i class="fa fa-save"></i> &nbsp; Save Invoice</button>
                                } </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="lg-modal" aria-labelledby="modal-large-label" style="margin-top:-180px">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header state modal-primary" style="background-color: #3498DB !important">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-large-label">Product Details</h4>
                </div>
                <div class="modal-body">
                    <div style="width: 100%; height:480px;overflow-y: scroll;">
                        <table class="table table-bordered table-hover table-striped table-success" id="searchable">
                            <thead class="bordered-darkorange">
                                <tr>
                                    <th>ID</th>
                                    <th>Product Name</th>
                                    @*<th>Cost Price</th>
                                        <th>Barcode</th>*@
                                    <th>Action</th>

                                </tr>
                            </thead>

                            <tbody class="abc" id="myTable">
                                @foreach (var item in Model.pro_listsss)
                                {
                                    <tr>
                                        <td>@item.ProductID</td>
                                        <td>@item.ProductName</td>
                                        @*<td>@item.UnitPrice</td>
                                            <td>@item.barcode</td>*@
                                        <td><button class="btnSelect btn btn-danger" data-dismiss="modal"><i class="fa fa-check"></i></button></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="width:60px"><input type="text" placeholder="Search Here" name="search_browser" class="form-control input-sm" style="width:80px"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm" style="width:100px"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
