@model WebApplication2.ViewModels.UserMan
@{
    ViewBag.Title = "Index";
}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-cubes" aria-hidden="true"></i> User Management</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="section-subtitle"><b>Assign Role</b></h4>
            <a href="@Url.Action("AssignRole", "UserMan")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-plus"></i>  Creat New</a>
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-success" id="searchable">
                            <thead class="bordered-darkorange">
                                <tr>
                                    <th>Id</th>
                                    <th>Department</th>
                                    <th>Team Lead</th>
                                    <th>Employee</th>
                                    <th>Role</th>
                                    <th>User Name</th>
                                    <th>Password</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="abc">
                                @foreach (var item in Model.Userlogin_list)
                                {
                                    <tr>
                                        <td>@item.EmpId</td>
                                        <td>@item.dep_id</td>
                                        <td>   @item.teamlead_id  </td>

                                        <td>@item.EmployeeName</td>
                                        <td>@item.role</td>
                                        <td>@item.UserName</td>
                                        <td>@item.Password</td>
                                        <td>
                                            <a href="@Url.Action("EditAssignRole", new { ID= item.id } )" new { onclick="return confirm('Are you sure you want to Edit this record?');" class="btn btn-warning shiny input-xs"><i class="fa fa-pencil"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
