@model WebApplication2.ViewModels.ChartofaccountVm
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function Action(code2) {
        //alert(code);
        var code = document.getElementById("sec").value;
        //alert(code2);
        $.ajax({
            type: "GET",
            url: "/OpeningBalance/ShowData?message=" + code + "&message1=" + code2,
            data: "{}",
            success: function (data) {
                //alert(data);
                for (var i = 0; i < data.length; i++) {
                    document.getElementById("dr").value = data[i].Dr;
                    document.getElementById("cr").value = data[i].Cr;
                    document.getElementById("date").value = data[i].date.Tostring("MM-dd-yyyy");
                    document.getElementById("narration").value = data[i].narration;
                }
            }
        });
    }
</script>
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-cubes" aria-hidden="true"></i> Opening Balance</a></li>

            </ul>
        </div>
    </div>
    <h4 class="section-subtitle"><b>Set Opening Balance  </b></h4>
    <a href="@Url.Action("List", "OpeningBalance")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-tasks"></i>  Opening Balance</a>

    @using (Html.BeginForm("OpeningBalanceSubmit", "OpeningBalance", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel">
            <div class="panel-content">
                <div class="col-md-12">
                    <div class="form-group col-sm-3">
                        <label>Select Account</label>
                        @Html.DropDownListFor(m => m.openingBalance.AccountNo, new SelectList(Model.third_level, "AccountNo", "AccountTitleName"), "Select Account", htmlAttributes: new { @class = "chosen-select form-control", onChange = "Action(this.value)" })
                    </div>

                    <div class="form-group col-sm-2">
                        <label>Debit Amount</label>
                        @Html.TextBoxFor(m => m.openingBalance.Dr, new { @class = "form-control input-xs", @value = "0", id = "dr" })
                    </div>
                    <div class="form-group col-sm-2">
                        <label>Credit Amount</label>
                        @Html.TextBoxFor(m => m.openingBalance.Cr, new { @class = "form-control input-xs", value = "0", id = "cr" })
                    </div> 
                    <div class="form-group col-sm-2">
                        <label>Date</label>
                        @Html.TextBoxFor(m => m.openingBalance.date, new { @class = "form-control input-xs",type="date", id = "date" })
                    </div>
                    <div class="form-group col-sm-2">
                        <label>Narration</label>
                        @Html.TextBoxFor(m => m.openingBalance.narration, new { @class = "form-control input-xs", value = "0", id = "narration" })
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" name="submit" class="btn btn-success" style="margin-top:25px"> &nbsp;&nbsp; Save &nbsp;&nbsp;</button>
                    </div>
                </div>
                <br /><br /><br />
            </div>

        </div>

    }
</div>
