@model IEnumerable<WebApplication1.QueryViewModel.OpeningBalanceQuery>
@{
    ViewBag.Title = "Index";
}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-cubes" aria-hidden="true"></i> Opening Balance</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="section-subtitle"><b>Opening Balance List</b></h4>
            <a href="@Url.Action("Index", "OpeningBalance")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-plus"></i>  Creat New</a>
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-success" id="searchable">
                            <thead class="bordered-darkorange">
                                <tr>
                                    <th>AccountName</th>
                                    <th>Dr</th>
                                    <th>Cr</th>
                                    <th>Date</th>
                                    <th>Narration</th>
                                    @*<th>Action</th>*@
                                </tr>
                            </thead>
                            <tbody class="abc">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.AccountTitleName</td>
                                        <td>@item.Dr</td>
                                        <td>@item.Cr</td>
                                        <td>@item.date.ToString("dd-MM-yyyy")</td>
                                        <td>@item.narration</td>
                                        @*<td>
                                            <a href="@Url.Action("Edit", new { ID= item.Id } )" new { onclick="return confirm('Are you sure you want to Edit this record?');" class="btn btn-warning shiny input-xs"><i class="fa fa-pencil"></i></a>
                                            <a href="@Url.Action("Delete", new { ID= item.Id } )" new { onclick="return confirm('Are you sure you want to delete this record?');" class="btn btn-danger shiny input-xs"><i class="fa fa-trash-o"></i></a>
                                        </td>*@
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><input type="text" placeholder="Search Here" name="search_browser" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    @*<th></th>*@
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
