@model IEnumerable<WebApplication1.QueryViewModel.SaleReturnDetailQuery>

@{
    Layout = null;
    var total = Model.Sum(x => x.ntotal);
    var totalInWords = ConvertToWords(total);
    var wht = Model.Sum(x => x.wht);
    decimal totalkg = 0;
    decimal curr = Convert.ToDecimal(ViewData["prebalance"]);
    curr = curr + total;
    var gst = Model.Sum(x => x.gst);
    var totalgst = Model.Sum(x => x.total);
    var totalafterdisc = Model.Sum(x => x.totalafterdisc);
    var total1 = totalgst - totalafterdisc;
    var Qty = Model.Sum(x => x.qty);
    var dubbiQty = Model.Where(x => x.packing.Trim() == "Dubbi").Sum(x => x.qty);
    var QuarterQty = Model.Where(x => x.packing.Trim() == "Quarter").Sum(x => x.qty);
    var DrumQty = Model.Where(x => x.packing.Trim() == "Drum").Sum(x => x.qty);
    var GallonQty = Model.Where(x => x.packing.Trim() == "Gallon").Sum(x => x.qty);
    var type = ViewData["type"] as string;
    //string imageSrc = "";
    //if (ViewData["logo"] != null)
    //{
    //   imageSrc = $"data:image/png;base64,{ViewData["logo"]}";
    //}
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Sale Tax Invoice</title>
    <!-- You can add additional meta tags, stylesheets, or scripts in the head section -->

</head>
<body>
    <div class="container text-center ">
        <div style="display: flex; justify-content: space-between;">
            <div style="padding: 10px; width: 70%; text-align: left;font-size:15px;font-weight:bold">
                <div style="display: flex">

                    <div style=" padding: 10px;">
                        @if (ViewData["logo"] != null)
                        {
                            string imageSrc = $"data:image/png;base64,{ViewData["logo"]}";
                            <img style="width:250px; height: 100px;" src="@imageSrc" alt="Logo Image">
                        }

                        <div style="color:blue;font-size:22px;font-weight:bold;margin-top:20px"><u>@ViewData["compname"]</u></div>
                        @*<div>@ViewData["email"]</div>
                            <div>@ViewData["phone"]</div>*@
                        <div>@ViewData["address"]</div>
                        <br>
                        <div style="margin-bottom: 5px;"><b>NTN : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> <span style="border:1px solid; width: 120px; display: inline-block;">@ViewData["cusntn"]</span></div>
                        <div style="margin-bottom: 5px;"><b>STRN : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> <span style="border: 1px solid; width: 120px; display: inline-block; ">@ViewData["STRN"]</span></div>
                        <div style="margin-bottom: 5px;"><b>Contact # :</b> <span style="border: 1px solid; width: 120px; display: inline-block; ">@ViewData["phone"]</span></div>

                    </div>
                </div>

                <div style="text-align:left;font-weight:bold;font-size:15px;padding-left:5px">Region : @ViewData["Region"]</div>
                <div style="background-color: #8686df;text-align:left;margin-top:5px; font-weight:bold;font-size:15px;padding-left:5px"><u>Bill TO :</u></div>

                <div><b>Customer Code : </b> <span style=" width: 180px; display: inline-block;">@ViewData["customeraccno"]</span></div>
                <div><b>Customer Name : </b> <span style="  display: inline-block;">@ViewData["customername"]</span></div>
                <div><b>Phone  : </b> <span style="  display: inline-block;">@ViewData["cusphone"]</span></div>
                <div><b>Customer NTN/STRN : </b> <span style=" width: 180px; display: inline-block;">@ViewData["NTN"]</span></div>
                <div><b>Billing Address : </b> <span style="display: inline-block;">@ViewData["cusaddress"]</span></div>
                @*<div><b>Adda :</b> <span style="     display: inline-block; ">@ViewData["cusaddress"]</span></div>*@

                @*<div>@ViewData["customername"]</div>
                    <div>NTN: @ViewData["NTN"]</div>
                    <div>@ViewData["cusaddress"]</div>
                    <div>@ViewData["cusphone"]</div>*@



            </div>
            <div style="margin-top:30px; padding: 10px; width: 40%; text-align: Center">
                @if (type != "Delivery")
                {
                    <div style="color: blue; font-size: 18px; font-weight: bold"> Sales TAX Invoice</div>
                }
                else
                {
                    <div style="color: blue; font-size: 18px; font-weight: bold">Delivery Order</div>
                }
                <br />
                <div style="margin-bottom: 5px;"><b>Inv#</b> <span style="border:1px solid; width: 120px; display: inline-block;">@ViewData["invno"]</span></div>
                <div style="margin-bottom: 5px;"><b>Date</b> <span style="border: 1px solid; width: 120px; display: inline-block; ">@ViewData["date"]</span></div>
                @*<div style="margin-bottom: 5px;"><b>DO #</b> <span style="border: 1px solid; width: 120px; display: inline-block; ">@ViewData["date"]</span></div>
                    <div style="margin-right:28px;margin-bottom: 5px;"><b>SP Name</b> <span style="border: 1px solid; width: 120px; display: inline-block; ">@ViewData["date"]</span></div>
                    <div style="margin-bottom: 5px;"><b>Group</b> <span style="border: 1px solid; width: 120px; display: inline-block; ">@ViewData["date"]</span></div>*@
                <br>
                <div>@DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt ")</div>
            </div>
        </div>



        @if (type != "Delivery")
        {
            <table class="table" style="border:1px solid">

                <thead>
                    <tr class="text-center" style="background-color: #8686df">

                        <th style="width:30%"> Product Quality</th>
                        <th style="width:30%"> Item Name</th>
                        <th>Packing</th>
                        <th>Quantity</th>
                        <th>Litrs/ Kgs</th>
                        @if (type == "showfull")
                        {
                            <th>Sale Price</th>
                            <th>Total</th>
                            <th>GST Rs</th>
                            <th>Inc GST</th>
                            @*<th>Disc% </th>*@
                            <th>Disc Amt </th>
                            <th>Inc Dis</th>

                            <th> WHT</th>
                        }

                        <th>Net Total </th>


                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Any()) { }
                    else
                    {

                        foreach (var lst in Model)
                        {
                            <tr>

                                <td class="text-left">@lst.catagoryname</td>
                                <td class="text-left">@lst.prname</td>
                                <td class="text-left">@lst.packing</td>
                                <td class="text-left">@lst.qty</td>
                                @if (@lst.packing.Trim() == "Dubbi")
                                {
                                    <td class="text-left">@((lst.CapDubbi * lst.qty).ToString("F3"))</td>
                                    totalkg = totalkg + lst.CapDubbi * lst.qty;

                                }
                                else if (@lst.packing.Trim() == "Quarter")
                                {
                                    <td class="text-left">@((lst.CapQuarter * lst.qty).ToString("F3"))</td>
                                    totalkg = totalkg + lst.CapQuarter * lst.qty;
                                }
                                else if (@lst.packing.Trim() == "Drum")
                                {
                                    <td class="text-left">@((lst.CapDrum * lst.qty).ToString("F3"))</td>
                                    totalkg = totalkg + lst.CapDrum * lst.qty;
                                }
                                else if (@lst.packing.Trim() == "Gallon")
                                {
                                    <td class="text-left">@((lst.CapGallon * lst.qty).ToString("F3"))</td>
                                    totalkg = totalkg + lst.CapGallon * lst.qty;
                                }


                                @if (type == "showfull")
                                {
                                    <td>@lst.sp</td>
                                    <td class="text-left">@lst.total</td>
                                    <td>@lst.gst</td>
                                    <td class="text-left">@lst.totalgst</td>
                                    @*<td>@lst.dsicval</td>*@
                                    <td>@lst.totalafterdisc</td>
                                    <td>@lst.disc_amount</td>

                                    <td class="text-left">@lst.wht</td>
                                }

                                <td class="text-left">@lst.ntotal </td>


                            </tr>

                        }

                    }



                </tbody>

            </table>
        }
        else
        {
            <table class="table" style="border:1px solid">

                <thead>
                    <tr class="text-center" style="background-color: #8686df">

                        <th style="width:30%"> Product Quality</th>
                        <th style="width:30%"> Item Name</th>
                        <th>STN</th>
                        <th>QTR</th>
                        <th>GLN</th>
                        <th>DRM</th>
                        <th>Literage / Kg</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Any()) { }
                    else
                    {

                        foreach (var lst in Model)
                        {
                    <tr>

                        <td class="text-left">@lst.catagoryname</td>
                        <td class="text-left">@lst.prname</td>
                        <td class="text-left">
                            @if (@lst.packing.Trim() == "Dubbi")
                            {
                                @(lst.qty.ToString("F3"))

                                totalkg = totalkg + lst.CapDubbi * lst.qty;

                            }
                        <td class="text-left">
                            @if (@lst.packing.Trim() == "Quarter")
                            {

                                @( lst.qty.ToString("F3"))
                                totalkg = totalkg + lst.CapQuarter * lst.qty;
                            }
                        </td>

                        <td class="text-left">
                            @if (@lst.packing.Trim() == "Gallon")
                            {
                                @(lst.qty.ToString("F3"))
                                totalkg = totalkg + lst.CapGallon * lst.qty;
                            }
                        </td>
                        <td class="text-left">
                            @if (@lst.packing.Trim() == "Drum")
                            {
                                @( lst.qty.ToString("F3"))
                                totalkg = totalkg + lst.CapDrum * lst.qty;
                            }
                        </td>
                        <td class="text-left">@(totalkg.ToString("F3"))</td>
                        @{totalkg = 0; }


                    </tr>

                        }

                    }



                </tbody>

            </table>
        }

    </div>

    @if (type != "Delivery")
    {
        <div class="container text-center  " style=" display: flex; justify-content: space-between;">

            <div style="width: 40% ;padding-left:40px">
                <div style="font:bold"><u>Packing Summary</u></div>

                <table class="table" height="200px" width="50%" border="1" style="border-collapse: collapse;">
                    <thead style="text-align: left">
                        <tr>
                            <td width="70%">Drums</td>
                            <td style="text-align: right;">@DrumQty</td>
                        </tr>
                        <tr>
                            <td>Carton</td>
                            <td style="text-align: right;"></td>
                        </tr>
                        <tr>
                            <td>Gallon</td>
                            <td style="text-align: right;">@GallonQty</td>
                        </tr>
                        <tr>
                            <td>Qtr</td>
                            <td style="text-align: right;">@QuarterQty</td>
                        </tr>
                        <tr>
                            <td>Dubbi</td>
                            <td style="text-align: right;">@dubbiQty</td>
                        </tr>
                        <tr>
                            <td>Total Volume (Litrs/Kg)</td>
                            <td style="text-align: right;">@totalkg.ToString("F3")</td>
                        </tr>
                        <tr>
                            <td>Total Quantity</td>
                            <td style="text-align: right;">@Qty</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div style="width: 50%; text-align :right ">
                <table class="table" width="50%" border="0" style="float: right; font: bold; font-size: 16px; line-height: 1.2;">
                    <tr>
                        <td>Total Material Value</td>
                        <td style="text-align: right;">@totalgst</td>
                    </tr>
                    <tr>
                        <td>Invoice Discount</td>
                        <td style="text-align: right;">(@totalafterdisc)</td>
                    </tr>
                    <tr>
                        <td>Total Value</td>
                        <td style="text-align: right;">@total1</td>
                    </tr>
                    <tr>
                        <td>Sales Tax 18%</td>
                        <td style="text-align: right;">@gst</td>
                    </tr>
                    <tr>
                        <td>With Hold Tax</td>
                        <td style="text-align: right;">@wht</td>
                    </tr>
                    <tr>
                        <td>Total Value</td>
                        <td style="text-align: right;">@total</td>
                    </tr>
                    @*<tr>
                        <td>Previous Balance</td>
                        <td style="text-align: right;">  @ViewData["prebalance"]</td>
                    </tr>*@
                    <tr>
                        <td>Current Balance</td>
                        <td style="text-align: right;">   @ViewData["Currenttotal"]</td>
                        @*<td style="text-align: right;">  @curr</td>*@
                    </tr>
                </table>
            </div>

        </div>
        <div class="container">
            <div class="invoice-text">

                <p><strong>Amount in Words:</strong><u>@totalInWords</u></p>
                <p>Price are inclusive of all applicable taxes</p>
                <p>The total quantity as detailed in this invoice has been received in sound condition</p>
                <p>Goods once sold cannot be taken back and exchanged.</p>
                <br>
                <br>
                <p><strong>Dealers Name, Signature and Date of Receipt:</strong></p>

            </div>
            <br>
            <br>
            <div style="text-align:right">
                <p>FOR HASSAN PAINT INDUSTRY</p>
                THIS IS A COMPUTER GENERATED INVOICE
                NO SIGNATURE IS REQUIRED
            </div>
        </div>
    }
    else
    {
        @*<style>
                .info-box {

                    width: 25%;
                    border-top: 2px solid;
                    padding: 10px; /* Adjust the padding as needed */
                    box-sizing: border-box; /* Include padding in the width calculation */
                }
            </style>*@
        <style>
            .lineshow div {
                border-top: 1px solid black;
                width: 20%;
                padding-top: 5px; /* Optional: Adjust padding for spacing */
            }
        </style>
        <br>
        <br>
        <br>
        <div class="container lineshow" style="display: flex; justify-content: space-between;text-align:center">
            <div>Processed By </div>
            <div>Authorized By </div>
            <div>Delivered By </div>
            <div>Received By </div>
        </div>
    }
</body>
</html>
@functions {
    // Method to convert numeric value to words
    string ConvertToWords(decimal number)
    {
        // Convert decimal to long for simplicity
        long wholePart = (long)Math.Floor(number);
        int decimalPart = (int)((number - wholePart) * 100);

        string words = ConvertToWords(wholePart);

        if (decimalPart > 0)
        {
            words += " and " + ConvertToWords(decimalPart) + " Paisa";
        }

        return words;
    }

    string ConvertToWords(long number)
    {
        if (number == 0)
            return "Zero";

        if (number < 0)
            return "Minus " + ConvertToWords(Math.Abs(number));

        string words = "";

        if ((number / 1000000) > 0)
        {
            words += ConvertToWords(number / 1000000) + " Million ";
            number %= 1000000;
        }

        if ((number / 1000) > 0)
        {
            words += ConvertToWords(number / 1000) + " Thousand ";
            number %= 1000;
        }

        if ((number / 100) > 0)
        {
            words += ConvertToWords(number / 100) + " Hundred ";
            number %= 100;
        }

        if (number > 0)
        {
            if (words != "")
                words += "and ";

            var unitsArray = new[] { "", "One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine" };
            var teensArray = new[] { "Ten", "Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen", "Sixteen", "Seventeen", "Eighteen", "Nineteen" };
            var tensArray = new[] { "", "", "Twenty", "Thirty", "Forty", "Fifty", "Sixty", "Seventy", "Eighty", "Ninety" };

            if (number < 10)
                words += unitsArray[number];
            else if (number < 20)
                words += teensArray[number - 10];
            else
            {
                words += tensArray[number / 10];
                if ((number % 10) > 0)
                    words += "-" + unitsArray[number % 10];
            }
        }

        return words;
    }
}






@*<script>
        window.onload = function () {
            window.print();
        };
    </script>*@
@*@if (type != "Delivery")
    {
        <div style="text-align:right;font-weight:bold">Total : @total</div>

    }
    else
    {
        <div style="text-align:right;font-weight:bold;margin-right:100px">Total : @Qty</div>
    }

    @if (type == "showfull")
    {
        <br>
        <br>
        <div style="text-align:right;font-weight:bold">Prev Balance : @ViewData["prebalance"]</div>
        <div style="text-align:right;font-weight:bold">Invoice BALance  :  @total</div>
        <div style="text-align:right;font-weight:bold">Ending Balance :@ViewData["Currenttotal"]</div>
    }*@