@model IEnumerable<CRM.Models.ProductionOrderView>
@{
    ViewBag.Title = "Index";
}
<script>
    $('#searchable').DataTable({
        buttons: [
            'copy', 'excel', 'pdf'
        ]
    });
</script>
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-cubes" aria-hidden="true"></i>Production Order</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h4 class="section-subtitle"><b> Production Order </b></h4>
        @if (Session["SubProductionOrderA"].ToString() != "0")
        {
            <a href="@Url.Action("Create", "ProductionOrder")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-plus"></i>  Create New</a>
        }
        @if (Session["SubProductionOrderDispatch"].ToString() != "0")
        {
            <a href="@Url.Action("reportproduction", "ProductionOrder", new { type = "Filling" })" class="btn btn-wide btn-primary pull-right mr-md-2" style="margin-top:-40px;margin-right:5px">Dispatch</a>
        }
        @if (Session["SubProductionOrderProduction"].ToString() != "0")
        {
            <a href="@Url.Action("reportproduction", "ProductionOrder", new { type = "Production" })" class="btn btn-wide btn-primary pull-right mr-md-2" style="margin-top: -40px; margin-right: 5px">Production</a>
        }

        @using (Html.BeginForm("Index", "ProductionOrder", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group col-sm-3">
                <label>Start Date</label>
                <input type="date" name="s_date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" required />
            </div>
            <div class="form-group col-sm-3">
                <label>End Date </label>
                <input type="date" name="e_date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" required />
            </div>
            <div class="col-sm-3">
                <button type="submit" name="submit" class="btn btn-success" style="margin-top:25px"> &nbsp;&nbsp; Search &nbsp;&nbsp;</button>
            </div>
        }



    </div>
    <div class="row">
        <div class="col-sm-12">


            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-success" id="searchable">
                            <thead class="bordered-darkorange">
                                <tr>
                                    <th>InvID</th>
                                    <th>Date</th>
                                    <th>Pro-Date</th>
                                    <th>Region</th>
                                    <th>Customer</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="abc">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.curdate.ToString("dd-MM-yyyy")</td>
                                        <td>@item.Promiseddate.ToString("dd-MM-yyyy")</td>
                                        <td>@item.regionname</td>
                                        <td>@item.customername</td>

                                        <td>
                                            @if (Session["SubProductionOrderU"].ToString() != "0")
                                            {
                                                <a href="@Url.Action("Edit", new { ID = item.Id })" new { onclick="return confirm('Are you sure you want to Edit this record?');" class="label label-warning shiny input-xs"><i class="fa fa-pencil"></i></a>
                                            }
                                            @if (Session["SubProductionOrderD"].ToString() != "0")
                                            {
                                                <a href="@Url.Action("Delete", new { ID = item.Id })" new { onclick="return confirm('Are you sure you want to delete this record?');" class="label label-danger shiny input-xs"><i class="fa fa-trash-o"></i></a>
                                            }
                                            @*<a href="@Url.Action("InvoiceReport", new { ID= item.invid } )"  class="label label-success shiny input-xs"><i class="fa fa-print"></i></a>*@

                                                @*<a href="@Url.Action("InvoiceReport", new { ID = item.Id, type = "pdf" })" class="label label-success shiny input-xs"><i class="fa fa-print"></i></a>*@

                                            </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
