@model WebApplication2.ViewModels.UserMan
@{
    ViewBag.Title = "Index";
    string err = ViewBag.error;
    var parameter = Request.QueryString["ac"];
}
<style>
    #treeview .k-sprite {
        background-image: url("../content/web/treeview/coloricons-sprite.png");
    }

    .rootfolder {
        background-position: 0 0;
    }

    .folder {
        background-position: 0 -16px;
    }

    .pdf {
        background-position: 0 -32px;
    }

    .html {
        background-position: 0 -48px;
    }

    .image {
        background-position: 0 -64px;
    }
</style>
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-users" aria-hidden="true"></i> User Management</a></li>
            </ul>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-12">
            <h4 class="section-subtitle"><b>Register User</b></h4>
            @if (parameter == "fail")
            {
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Human Error ! This User Already Exists.</strong>
                </div>
            }
            <a href="@Url.Action("Index", "RegisterUsers")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-list"></i> Users List</a>
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="Create" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    @*<div class="form-group col-sm-6" style="display:none">
                                    <label>Select Employee</label>
                                    @Html.DropDownListFor(m => m.UserLogin.EmpId, new SelectList(Model.emp_list, "AccountNo", "AccountTitleName"), "Select Employee", htmlAttributes: new { @class = "chosen-select form-control", id = "empid" })
                                </div>*@
                                    <div class="form-group col-sm-4">
                                        <label>Select Company</label>
                                        @Html.DropDownListFor(m => m.UserLogin.b_unit, new SelectList(Model.b_unit, "ID", "Name"), "Select Company", htmlAttributes: new { @class = "chosen-select form-control", id = "store_id" })
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>User Name</label>
                                        @Html.TextBoxFor(m => m.UserLogin.UserName, new { @class = "form-control input-xs", id = "username" })
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Password</label>
                                        @Html.TextBoxFor(m => m.UserLogin.Password, new { @class = "form-control input-xs", id = "pass", value = "" })
                                    </div>


                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary" style="margin-top:10px"><i class="fa fa-plus"></i> Register User</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>